/* Estilo para o corpo da página */
body {
    background-color: #f8f8f8;
    color: #c70039;
    font-family: cronos-pro, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

/* Estilo para cabeçalhos h1 */
h1 {
    color: #c70039;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para parágrafos */
p {
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para botões */
button {
    background-color: #c70039;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* Efeito de hover para botões */
button:hover {
    background-color: #950031;
    transition : 0.2s ease-in-out; /* Adicionando efeito de transição */

}

/* Estilo para mensagens de erro */
.error {
    height: 100px;
    margin-top: 10px;
    text-align: center;
}

/* Estilo para elementos centralizados */
.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
