body {
    background-color: #f8f8f8;
    color: #c70039;
    font-family: cronos-pro, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 400;
    font-style: normal;

}

h1 {
    color: #c70039;
    margin-bottom: 30px;
    text-align: center;
}

.error { 
    height: 100px;
    margin-top: 10px;
    text-align: center;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}