/* Importação da fonte */
@import url("https://use.typekit.net/ivl8wxs.css");

/* Estilo global para o corpo da página */
body {
    background-color: #f8f8f8;
    padding: 20px;
    color: #c70039;
    font-family: cronos-pro, sans-serif;
    margin: 0;
    font-weight: 450;
    font-style: normal;
}

/* Zerando margens e preenchimentos para elementos específicos */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

/* Estilo para cabeçalho h1 */
h1 {
    color: #c70039;
    margin-top: -20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo para botões */
button {
    background-color: #c70039;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Efeito de hover para botões */
button:hover {
    background-color: #950031;
}

.btnReturn {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    cursor: pointer;
    font-size: inherit; /* Mantenha o tamanho de fonte padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0, auto;
    margin-top: 0px;
    margin-left: 470px;
    position:relative;
    float: left;
    transition: filter 0.3s ease-in-out; /* Adicione transição para o filtro do ícone */
}

/* Remova a regra de hover do ícone do botão e adicione ao botão principal */
.btnReturn:hover {
    background-color: rgb(199, 0, 57);
    transition: filter 0.3s ease-in-out; /* Adicione transição para o filtro do ícone */

}

.btnReturn .returnImage {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.btnReturn:hover .returnImage {
    filter: invert(100%);
}

.btnConcill {
    background-color: rgb(199, 0, 57);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: inherit; /* Mantenha o tamanho de fonte padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 50px;
    margin: 0 auto;
    margin-right: 575px;
    position: relative;
    float: right;
    transition: background-color 0.2s ease-in-out; /* Adicione transição para background-color */
}


/* Ajuste de margens para diferentes tamanhos de tela */
@media (min-width: 768px) {
    .btnReturn,
    .btnConcill {
        width: auto;
    }

    .buttonReturn,
    .buttonConcill {
        display:-ms-flexbox;
    }
}

/* Remova a regra de hover do ícone do botão e adicione ao botão principal */
.btnConcill:hover {
    background-color: #950031;
}

/* Estilo para lista de resultados */
.result-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
}

/* Estilo para itens da lista de resultados */
.result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Reset de estilos para garantir consistência entre navegadores */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0px;
}

/* Estilo para tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo para células da tabela */
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    align-items: center;
    justify-content: center;
    text-align: center;
}

td {
    white-space: nowrap; /* Impede a quebra de linha dentro da célula */
    word-break: break-all; /* Quebra a palavra quando passar da largura da célula */
}

td.quebra_linha {
    white-space: normal; /* Permite a quebra de linha dentro da célula */
}


/* Estilo para cabeçalho da tabela */
th {
    background-color: #f2f2f2;
}

