<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Error 404</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div class="container centralizar">
        <img src="/static/assets/images/pages/error/error.svg" alt="error" width="" height="400">
        <h1>Algo de errado aconteceu...</h1>
        <p>Por favor, tente novamente mais tarde!</p>
    </div>
</body>
</html>