<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Consulta Financeiro SAEC</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/images/logo/nova logo.png">
</head>
<body>

    <h1 class="title">Consulta Financeiro SAEC</h1>
    <form action="/consulta" method="post" id="form">
        <div class="logo">
            <img src="/static/assets/images/logo/logo.svg" alt="logo" width="100" height="100">          
        </div>

        <label for="data_inicio" class="date-color">Data de Início:</label>
        <input type="date" id="data_inicio" name="data_inicio" value="{{ vdi }}" placeholder="dd/mm/yyyy" required>

        <label for="data_fim" class="date-color">Data de Fim:</label>
        <input type="date" id="data_fim" name="data_fim" value="{{ vdf }}" placeholder="dd/mm/yyyy" required>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <label for="consulta_tipo" class="label-color">Tipo:</label>

        <div id="form" class="radio-group" style="text-align: justify;">
            <input type="radio" id="protocolo" name="consulta_tipo" value="protocolo" checked required>
            <label for="protocolo">Protocolo</label>

            <input type="radio" id="certidao" name="consulta_tipo" value="certidao" required>
            <label for="certidao">Certidão</label>

            <input type="radio" id="intimacao" name="consulta_tipo" value="intimacao" required>
            <label for="intimacao">Intimação</label>

            <input type="radio" id="pesquisa_qualificada" name="consulta_tipo" value="pesquisa_qualificada" required>
            <label for="pesquisa_qualificada">Pesq. Qualificada</label>
        </div>

        <button type="submit" id="consultarBtn">CONSULTAR</button>
    </form>
    
    <div class="loader-container" id="loader" style="display: none;">
        <span class="loader"></span>
    </div>

    <script>
        document.getElementById('form').addEventListener('submit', function() {
            // Mostrar o loader
            document.getElementById('loader').style.display = 'block';
        });
    </script>

</body>
</html>
